header {
  background: #100e16;
  color: #fff;
}
header .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1170px;
}

.header-top {
  padding: 10px 0 14px;
  position: relative;
  z-index: 1;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  text-transform: "Micra", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  color: #fff;
}
.logo:hover {
  color: #fff;
}
.logo-name {
  display: block;
  max-width: 232px;
  margin: 0 0 0 18px;
}

.btn-burger {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30px;
  height: 20px;
  margin: 0 10px 0 0;
  cursor: pointer;
}
.btn-burger span {
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  border-radius: 3px;
}
.btn-burger span:last-child {
  width: 22px;
}

.messengers-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}
.messengers-box__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  width: 51px;
  min-width: 51px;
  height: 51px;
  padding: 10px;
}
.messengers-box__icon img {
  max-height: 100%;
}

.messenger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 20px 0 0;
  color: #fff;
  font-size: 18px;
}
.messenger:last-child {
  margin: 0;
}

.phone__icon {
  border: 1px solid #fff;
}

.phone__text {
  margin: 0 0 0 12px;
}

.address-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.72px;
  font-size: 18px;
}
.address-box img {
  margin: 0 13px 0 0;
}

.header-bottom {
  position: relative;
  z-index: 1;
  padding: 28px 0 33px;
}
.header-bottom::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  max-width: 1200px;
  width: 100%;
  height: 1px;
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
}
.header-bottom .messengers-box, .header-bottom .address-box {
  display: none;
}

.menu-close {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
  display: none;
}
.menu-close::before, .menu-close::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background: #fff;
  left: 10px;
  top: 0;
}
.menu-close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.menu-close::after {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menu li a {
  color: #fff;
}
.menu li a:hover {
  color: #ccc;
}