.home {
  padding: 105px 0 85px;
  background-image: radial-gradient(circle at 0 0, #010101, #0d0d17, #3c4151);
  position: relative;
  z-index: 1;
  overflow: hidden;
  color: #fff;
}
.home h1 {
  margin: 0 0 46px;
  max-width: 1085px;
}
.home .box-text {
  max-width: 577px;
}
.home .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.home-img {
  position: absolute;
  z-index: -1;
  right: 0;
  top: 119px;
}

.advantages {
  padding: 72px 0 147px;
}
.advantages h2 {
  margin: 0 auto 100px;
  max-width: 600px;
}

.advantages-box {
  text-align: center;
  text-transform: uppercase;
}
.advantages-box__icon {
  margin: 0 auto 35px;
  height: 99px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.advantages-box__icon img {
  max-height: 100%;
}
.advantages-box__body {
  max-width: 238px;
  margin: 0 auto;
}

.why-choose {
  padding: 82px 0 206px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.why-choose h2 {
  margin: 0 auto 90px;
}
.why-choose__img {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  height: 100%;
  mix-blend-mode: multiply;
}
.why-choose__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.why-choose__content {
  max-width: 570px;
}

.tools-section {
  padding: 70px 0;
}

.tools-card {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 210px;
  border-radius: 5px;
  border: 2px solid #100e16;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.tools-card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
.tools-card::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0) 0%, rgb(0, 0, 0) 100%);
}

.callback-section-v2 {
  padding: 107px 0 120px;
}
.callback-section-v2 .callback-box {
  margin: 0;
  max-width: 787px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.16)), color-stop(rgba(0, 0, 0, 0.99)), to(rgba(0, 0, 0, 0.32)));
  background: linear-gradient(to top, rgba(0, 0, 0, 0.16), rgba(0, 0, 0, 0.99), rgba(0, 0, 0, 0.32));
}
.callback-section-v2 .callback-box h2 {
  max-width: 470px;
  margin: 0 0 26px;
  text-align: left;
}
.callback-section-v2 .callback-box .box-text {
  max-width: 363px;
  margin: 0 0 48px;
  text-align: left;
}
.callback-section-v2 .callback-box .form {
  margin: 0;
  color: #fff;
  max-width: none;
}
.callback-section-v2 .callback-box .form label {
  margin: 0 0 20px;
  max-width: 228px;
}
.callback-section-v2 .callback-box .form [type=submit] {
  max-width: 228px;
  margin: 0;
}
.callback-section-v2 .form-footer {
  margin: 36px 0 0;
}
.callback-section-v2 .callback-section__img {
  width: 100%;
  height: 100%;
}
.callback-section-v2 .callback-section__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.brands {
  padding: 70px 0 100px;
}

.brands-slider .slick-slide {
  padding: 0 20px;
}

.brands-item {
  margin: 0 auto 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100px;
}
.brands-item img {
  max-height: 100%;
}
.brands-item:last-child {
  margin: 0;
}

.services-section {
  padding: 80px 0 90px;
}
.services-section h2 {
  margin: 0 auto 27px;
}
.services-section .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subtitle-text {
  margin: 0 auto 56px;
  text-align: center;
  max-width: 550px;
  text-transform: uppercase;
  font-family: "Micra", sans-serif;
}

.btn-all-price {
  margin: 50px auto 0;
}

.table-price {
  max-width: 1140px;
  margin: 0 auto;
}
.table-price thead {
  background: #2e283d;
}
.table-price th, .table-price td {
  vertical-align: middle;
  border: 1px solid #fff;
}
.table-price th:nth-child(2), .table-price td:nth-child(2) {
  width: 360px;
}
.table-price th {
  padding: 20px 0;
}
.table-price thead {
  text-align: center;
  text-transform: uppercase;
}
.table-price td {
  padding: 17px 50px 10px;
}

.masters {
  padding: 90px 0;
}
.masters h2 {
  margin: 0 auto 100px;
  font-size: 30px;
}

.masters-card {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: #efeff1;
  padding: 39px 0 0;
  text-align: center;
  font-size: 14px;
}
.masters-card__photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin: 0 auto 16px;
  width: 165px;
  height: 165px;
  overflow: hidden;
  border: solid 2px #111e06;
}
.masters-card__photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.masters-card .list-rating {
  margin: 0 auto 13px;
  padding: 5px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 163px;
  width: 100%;
  border-top: 1px solid #B47D22;
  border-bottom: 1px solid #B47D22;
}
.masters-card__body {
  width: 100%;
  padding: 0 20px 23px;
}
.masters-card .btn {
  width: 100%;
}

.popular-question {
  padding: 80px 0;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.popular-question__img {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  mix-blend-mode: multiply;
  height: 100%;
}
.popular-question__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.popular-question__content {
  width: 100%;
  max-width: 660px;
}
.popular-question h2 {
  margin: 0 auto 85px;
}

.works-gallery h2 {
  margin: 0 auto 70px;
}

.works-gallery-slider .slick-list {
  margin: 0 -15px;
}
.works-gallery-slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.works-gallery-slider .slick-slide {
  height: auto;
  padding: 0 15px;
}

.works-gallery-item {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: #efeff1;
  padding: 20px 30px 30px;
}
.works-gallery-item__body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.works-gallery-item__avatar {
  width: 145px;
  height: 145px;
  border-radius: 50%;
  border: solid 2px #100e16;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.works-gallery-item__content {
  width: calc(100% - 145px);
  padding: 0 0 0 35px;
}
.works-gallery-item .list-rating {
  margin: 0 0 8px auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.works-gallery-item__name {
  padding: 0 0 18px;
  margin: 0 0 20px;
  border-bottom: 1px solid #100e16;
}
.works-gallery-item .box-text {
  font-size: 14px;
  max-width: 261px;
}
.works-gallery-item__gallery {
  width: 100%;
  margin: 45px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.works-gallery-item .photo-gallery {
  width: calc(50% - 15px);
  height: 235px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.works-gallery-item .photo-gallery img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.callback-section {
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding: 67px 0 73px;
}
.callback-section.bg-black {
  color: #fff;
}
.callback-section__img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  height: 100%;
}
.callback-section__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.callback-box {
  -webkit-box-shadow: 4.1px 2.9px 43px 0 #000, 5.7px 4px 35px 0 #000, 5.7px 4px 90px 0 #000;
          box-shadow: 4.1px 2.9px 43px 0 #000, 5.7px 4px 35px 0 #000, 5.7px 4px 90px 0 #000;
  background: rgba(16, 14, 22, 0.39);
  color: #fff;
  max-width: 520px;
  width: 100%;
  margin: 0 0 0 auto;
  padding: 30px 25px 45px;
  position: relative;
  z-index: 1;
  border-width: 1px;
  border-style: solid;
  -o-border-image: linear-gradient(to top, rgba(255, 255, 255, 0.21), rgba(0, 86, 152, 0), rgba(255, 255, 255, 0.39)) 1;
     border-image: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.21)), color-stop(rgba(0, 86, 152, 0)), to(rgba(255, 255, 255, 0.39))) 1;
     border-image: linear-gradient(to top, rgba(255, 255, 255, 0.21), rgba(0, 86, 152, 0), rgba(255, 255, 255, 0.39)) 1;
}
.callback-box .form {
  max-width: 228px;
  width: 100%;
  margin: 0 auto;
}
.callback-box h2 {
  font-size: 30px;
  text-align: center;
}
.callback-box .box-text {
  text-align: center;
  margin: 32px auto 62px;
  letter-spacing: 0.8px;
  max-width: 390px;
}

.form [type=submit] {
  width: 100%;
  margin: 40px auto 0;
}
.form .list-messangers {
  margin: 20px 0 0;
}

.form-title {
  font-size: 24px;
  font-family: "Micra", sans-serif;
  width: 100%;
  text-transform: uppercase;
}

.callback-box-v2 {
  margin: 40px 0 0;
  max-width: 586px;
  padding: 38px 63px 36px;
}
.callback-box-v2 .form-title {
  max-width: 370px;
  margin: 0 0 16px;
}
.callback-box-v2 .form {
  margin: 0;
  max-width: none;
}
.callback-box-v2 .form label {
  max-width: 166px;
}
.callback-box-v2 .form [type=submit] {
  margin: 0;
  max-width: 244px;
}

.form-footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.form-footer .list-messangers-row {
  margin: 0 0 0 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.news-section {
  padding: 80px 0 115px;
}

.news-card {
  width: 100%;
}
.news-card__img {
  width: 100%;
  height: 210px;
  border-radius: 5px;
  background-color: #efeff1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.news-card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
.news-card__body {
  width: 100%;
  padding: 30px 0 0;
}
.news-card__title {
  text-transform: uppercase;
  margin: 0 0 14px;
  color: #100e16;
  font-size: 16px;
  font-weight: bold;
}
.news-card__title:hover {
  color: #2e283d;
}
.news-card .link {
  margin: 20px 0 0;
}

.warranty-page {
  padding: 0 0 186px;
}
.warranty-page h1 {
  margin: 0 auto 20px;
}
.warranty-page__img {
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  mix-blend-mode: multiply;
  margin: 30px 0 0;
}
.warranty-page .box-text {
  max-width: 916px;
  width: 100%;
}

.content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 15px;
}
.content-wrapper .box-text {
  width: calc(100% - 500px);
  padding: 0 50px 0 0;
}
.content-wrapper .box-text strong {
  font-weight: 600;
}
.content-wrapper .box-text ul {
  margin: 0 0 20px;
}

.warranty-not {
  padding: 100px 0 165px;
}
.warranty-not h2 {
  margin: 0 auto 70px;
}
.warranty-not .box-text {
  max-width: 990px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.contacts-page {
  padding: 0 0 120px;
}
.contacts-page__map {
  width: 100%;
  max-width: 683px;
  height: 425px;
  margin: 40px 0 0;
}
.contacts-page__map iframe {
  width: 100%;
  height: 100%;
}
.contacts-page__content {
  width: calc(100% - 683px);
  margin: 0 auto 0 0;
}

.contacts-box {
  margin: 0 0 50px;
  font-size: 18px;
}
.contacts-box:last-child {
  margin: 0;
}
.contacts-box .h3 {
  text-transform: uppercase;
  font-weight: 600;
  margin: 0 0 25px;
}
.contacts-box__it {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 20px;
}
.contacts-box__it:last-child {
  margin: 0;
}
.contacts-box__it img {
  margin: 0 10px 0 0;
  width: 21px;
  min-width: 21px;
  -webkit-filter: brightness(0%);
          filter: brightness(0%);
}
.contacts-box a.contacts-box__it {
  color: #000;
}
.contacts-box a.contacts-box__it:hover {
  color: #2e283d;
}

.about-page {
  padding: 0 0 96px;
}
.about-page .box-text {
  max-width: 1005px;
}

.advantages-work {
  padding: 82px 0 99px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.advantages-work h2 {
  max-width: 680px;
  margin: 0 auto 80px;
}
.advantages-work__content {
  max-width: 600px;
}
.advantages-work__img {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  z-index: -1;
}
.advantages-work__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.watch-image {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #050608;
}

.sheme-work h2 {
  margin: 0 auto 75px;
}

.sheme-work-box {
  text-align: center;
}
.sheme-work-box__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto 35px;
  height: 103px;
}
.sheme-work-box__icon img {
  max-height: 100%;
}
.sheme-work-box .h3 {
  text-transform: uppercase;
  margin: 0 auto 20px;
  min-height: 40px;
}
.sheme-work-box .box-text {
  width: 100%;
  max-width: 225px;
  margin: 0 auto;
}

.master-photo-section {
  padding: 75px 0 180px;
}

.master-photo-gallery::before {
  display: none;
}

.polishing-page {
  padding: 0 0 106px;
}
.polishing-page h1 {
  max-width: 550px;
  margin: 0 auto 10px;
}
.polishing-page .warranty-page__img {
  margin: 0;
  min-width: 913px;
  margin: -70px -400px -100px -100px;
}
.polishing-page .box-text {
  max-width: 740px;
}