$default-font: 'Montserrat', sans-serif
$title-font: 'Micra', sans-serif

$accent: #2e283d
$grey: #efeff1
$black: #100e16

@mixin d-flex()
  display: flex
  align-items: center
  justify-content: center
