/*==========	Desktop First	==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px)
	.header-bottom
		padding: 20px 0

	.logo
		font-size: 20px

	.logo-name
		max-width: 170px
		margin: 0 0 0 10px

	.menu
		font-size: 15px

	.section-decor
		&::before, &:after
			width: 418px
			height: 190px

	.news-section
		padding: 60px 0 90px

	.home-img
		max-width: 500px
		top: 150px

	.mb-80
		margin-bottom: 50px

	.callback-box
		background: rgba(#000, .9)

@media only screen and (max-width: 992px)
	.address-box
		font-size: 16px

	.btn-burger
		display: flex

	.header-bottom
		display: none
		position: fixed
		left: 0
		top: 0
		height: 100%
		overflow-y: auto
		padding: 30px 5px
		z-index: 10
		background: #100e16
		color: #fff
		max-width: 310px
		width: 100%
		.messengers-box
			display: flex
			margin: 10px 0 0
			padding: 15px 0 0
			border-top: 1px solid #fff
			&__icon
				width: 30px
				height: 30px
				min-width: 30px
				padding: 5px
		.address-box
			display: flex
			padding: 15px 0
			margin: 10px 0
			border-top: 1px solid #fff
			border-bottom: 1px solid #fff

		.messenger
			font-size: 16px
			margin: 0 10px 0 0

	.menu-close
		display: block

	.menu
		font-size: 16px
		li
			margin: 0 0 10px
			width: 100%

	.logo
		font-size: 18px

	.logo-name
		max-width: 150px

	.messenger
		margin: 0 10px 0 0

	.messengers-box
		&__icon
			width: 40px
			height: 40px
			min-width: 40px
			padding: 7px

	footer
		padding: 20px 0 0

	.footer-top
		margin: 0 0 20px

	h1, h2
		font-size: 30px

	.home
		padding: 80px 0 60px
		h1
			margin: 0 0 30px
		.box-text
			max-width: 500px

	.home-img
		max-width: 400px

	.callback-section-v1
		padding: 30px 0 0
		.callback-section__img
			position: relative
			margin: 10px auto 0
			height: auto
			max-width: none
			width: 100%

		.callback-box
			margin: 0 auto
			.box-text
				margin: 20px auto

	.callback-box-v2
		margin: 30px 0 0
		padding: 20px 30px
		max-width: 500px

	.advantages
		padding: 70px 0 60px
		h2
			margin: 0 auto 60px

	.why-choose
		padding: 70px 0
		h2
			margin: 0 auto 40px
		&__content
			max-width: 450px
		&__img
			height: 100%
			max-width: 80%

	.masters
		padding: 70px 0
		h2
			margin: 0 auto 50px

	.news-section
		padding: 50px 0 60px
		h2

	.works-gallery h2
		margin: 0 auto 40px

	.works-gallery-item .box-text
		max-width: none

	.popular-question
		padding: 60px 0
		&__content
			max-width: 500px
		h2
			margin: 0 auto 30px

@media only screen and (max-width: 880px)
	.header-top
		.phone__text
			display: none

	.callback-section-v2 .callback-box
		h2
			max-width: none
		.box-text
			max-width: none
			margin: 0 0 30px

	.callback-section .form-footer .list-messangers-row
		width: 100%
		margin: 10px 0 0
		flex-direction: column
		align-items: flex-start
		li
			max-width: 228px
			width: 100%
			margin: 0 0 10px
			&:last-child
				margin: 0
			a
				width: 100%

@media only screen and (max-width: 768px)
	.fixed-btn
		width: 60px
		height: 60px
		right: 20px
		bottom: 70px

	.fixed-btn-chat
		right: 50px
		bottom: 10px
		padding: 15px 20px 15px 15px

	.header-top
		.address-box
			display: none
		.messengers-box
			margin: 0 0 0 auto

	.home-img
		max-width: none
		position: relative
		top: 0
		right: 0

	.home
		padding: 60px 0 0
		.box-text
			max-width: none
		.callback-box
			margin: 20px auto 0

	.col-3
		width: 50%

	.advantages-box__icon
		margin: 0 auto 20px

	.why-choose
		&__img
			max-width: 60%

	.callback-box h2
		font-size: 24px

	.brands
		padding: 70px 0
		h2
			margin: 0 auto 40px

	.services-section
		padding: 70px 0

	.table-price
		td
			padding: 10px
		th, td
			&:nth-child(2)
				width: fit-content

	.btn-all-price
		margin: 30px auto 0

	.p-80
		padding: 50px 0

	.messanger-tg-link
		margin: 0 0 0 20px

	.messanger-tg
		p
			font-size: 22px

	.footer-menu
		li
			margin: 0 0 10px
			width: 50%

	.popular-question
		&__content
			max-width: none
		&__img
			display: none

@media only screen and (max-width: 576px)
	h1, h2
		font-size: 24px

	h2
		margin: 0 auto 30px

	.why-choose
		padding: 50px 0 0
		&__img
			position: relative
			max-width: none
			height: auto
			margin: 20px 0 0
		&__content
			max-width: none
		h2
			max-width: 400px

	.tools-section
		padding: 50px 0 40px

	.mb-40
		margin-bottom: 30px

	.mb-80
		margin-bottom: 40px

	.table-price
		font-size: 14px

	.messanger-tg
		flex-wrap: wrap
		&-link
			width: 100%
			margin: 10px 0 0
			padding: 10px 15px

	.works-gallery-item
		&__body
			flex-wrap: wrap
		&__avatar
			margin: 0 auto 20px
		&__content
			width: 100%
			padding: 0
		.list-rating
			justify-content: center

	.form-title
		font-size: 20px

	.works-gallery-item__gallery
		margin: 30px 0 0

	.works-gallery-item .photo-gallery
		height: 200px

	.subtitle-text
		margin: 0 auto 30px

	.masters h2
		font-size: 24px
		margin: 0 auto 30px		

@media only screen and (max-width: 480px)
	.logo
		font-size: 14px
		img
			max-width: 40px

	.logo-name
		max-width: 120px

	.messengers-box__icon
		width: 30px
		height: 30px
		min-width: 30px

	.callback-box-v2 .form [type=submit]
		max-width: none

	.form-footer .list-messangers-row
		width: 100%
		margin: 10px 0 0
		justify-content: center

	.callback-box-v2 .form label, .callback-section-v2 .callback-box .form label
		max-width: none
		width: 100%

	.callback-section-v2 .callback-box .form [type=submit], .callback-section .form-footer .list-messangers-row li
		max-width: none

	.section-decor::before, .section-decor::after
		width: 290px
		height: 150px	

	.footer-menu li
		width: 100%	

@media only screen and (max-width: 420px)
	.col-3
		width: 100%

	h1, h2
		font-size: 22px

	.works-gallery-item
		&__gallery
			flex-wrap: wrap
		.photo-gallery
			width: 100%
			height: 150px
			margin: 0 0 10px
			&:last-child
				margin: 0

				

@media only screen and (max-width: 370px)
	.logo
		font-size: 12px
		img
			max-width: 30px

	.logo-name
		max-width: 100px

	h1, h2
		font-size: 20px	

	.table-price
		font-size: 12px
		th
			padding: 10px	
